.body {
    background-color: #E9F1F7;
}
nav {
    background-color: #E7DFC6;
}
.article {
    background-color: #E7DFC6;
}
.cont1 {
    background-color: #2274A5;
    margin-left: 1%;
    margin-right: 0%;
    width: 62%;
    float: left;
}
.cont2 {
    background-color: #2274A5;
    margin-left: 0%;
    margin-right: 1%;
    width: 35%;
    float: right;
    text-align: center;
}